*{
	padding:0;
	margin:0;
	border-size:border-box;
}
:root{
	--primary-color:#00bcd4;
	--secondary-color:#333333;
	--white:#fff;
	
}
.container{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
	}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
	}
.row> *{
	width:100%;
	padding:0 15px;
}	
.col-lg-1{
	width:8.33%;
}
.col-lg-2{
	width:16.66%;
}	
.col-lg-3{
	width:25%;
}	
.col-lg-4{
	width:33.33%;
}	
	.col-lg-5{
	width:41.66%;
}	
	.col-lg-6{
	width:50%;
}	
	.col-lg-7{
	width:58.33%;
}	
	.col-lg-8{
	width:66.66%;
}	
	.col-lg-9{
	width:75%;
}	
	.col-lg-10{
	width:83.33%;
}	
	.col-lg-11{
	width:91.66%;
}	
	.col-lg-12{
	width:100%;
}	

.justify-content-start{
	justify-content:flex-start !important;
}
.justify-content-end{
	justify-content:flex-end !important;
}
.justify-content-space-around{
	justify-content:space-around !important;
}
.justify-content-space-between{
	justify-content:space-between !important;
}
.justify-content-space-evenly{
	justify-content:space-evenly!important;
}

.align-items-start{
	align-items:flex-start !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-items-center{
	align-items:center !important;
}
.align-items-baseline{
	align-items:baseline !important;
}
.btn{
	display:inline-block;
	text-decoration:none;
	color:white;
	background-color:#00bcd4;
	padding:12px 25px;
	text-align:center;
	}	
.text-right{
	text-align:right !important;
}
.text-center{
	text-align:center !important;
}	
.text-left{
	text-align:left !important;
}	
.text-justify{
	text-align:justify !important;
}	
				
				
	
/*=========== header style ========*/	
.headertop{
	background-color:#fff;
	border-bottom:solid 1px #ff5821;
	}
.headerinfo{
	background-color:#39312f;
	}	

.contactinfo{
	color:#fff;
	margin-right:10px;
	display:block-inline;
	padding:10px 0;
	
}
.contactinfo span > a{
	color:white;
	text-decoration:none;
    margin-right:10px;
}
.contactinfo span > a:hover{
	color:#00bcd4;
	}
.contactinfo span i{
	color:#00bcd4;
	margin-right:5px;

}

.info-btn{
	background-color:#ff5821;
	color:white;
}

.logo{
	background-color:white;
	}
.logo a{
   display:inline-block;
   color:#635551;
   text-decoration:none;
   }	
.navsection{
	padding:20px 0;
}
.menubar{
	display:flex;
	justify-content:space-between;
	}
.main a{
	display:block;
	text-decoration:none;
	color:black;
	padding:8px 15px;
	}
.main > a:hover{
	color:#00bcd4;
}
.main a.active{
	color:#00bcd4;
}	
	

/*------------banner style-----*/
.bannersection{
	padding:230px 0px;
	height:100%;
	background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("image/hero-bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	margin-bottom:-100px;
}
.bannercontent{
		width:60%;
}
.bannercontent > h1{
	color:#fff;
	font-size:55px;
	font-family: 'Raleway', sans-serif;
	margin-bottom:15px;
}
.bannercontent p{
	color:#fff;
	font-size:20px;
	margin-bottom:40px;
}
.bnr-btn{
	position:relative;
	display:inline-block;
	padding:6px 0 6px 25px;

	}
.bnr-btn a.btn{
     border-radius:25px;
	 background-color:var(--primary);
	 border:1px solid #00bcd4;
	 background-color:#333333; 
	 transition:1s;
} 	
.bnr-btn > i{
	position:absolute;
	top:0px;
	right:117px;
	background-color:#00bcd4; 
	height:50px;
	width:50px;
	text-align:center;
	line-height:50px;
	color:var(--white);
	border-radius:50%;
	box-shadow:1px 0 5px  black;
	
}
.bnr-btn a:hover{
	background-color:#00bcd4;
	

}
/*------------whychoose------*/
.whychoosesect{
	padding:20px 0;
	
}
.why-choose{
	color:#fff;
	background-color:#00bcd4;
	padding:50px 30px;
	border-radius:10px;
	text-align:center;
}
.why-choose h3{
	font-size:32px;
	text-align:left;
	font-family: 'Raleway', sans-serif;
	line-height:38px;
	font-weight:800;
}
.why-choose p{
	margin-bottom:30px;
    text-align:left;
}
.why-choose a{
	color:#fff;
	display:inline-block;
	text-decoration:none;
	background-color:#4dc4d3;
	border-radius:25px;
	padding:8px 25px;
	
}
.why-choose a i{
	margin-left:8px;
	
}
.why-choose a {
	transition:1s;
}
.why-choose a:hover{
	color:var(--primary-color);
	background-color:#fff;
}
.chooseitem{
	height:100%;
	background-color:#fff;
	border-radius:10px;
	padding:40px 20px;
	text-align:center;
	}
.chooseitem i{
	color:#00bcd4;
	font-size:35px;
}
.chooseitem h4{
	font-size:20px;
	margin-bottom:35px;
	margin-top:35px;
}	
.chooseitem p{
	color:#999;
}
	
/*----------aboutsection---------*/
.abt-section{
	background-color:#f0f3f2;
	padding:90px 0;
}

.abt-img{
	background-image:url("image/about.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	display:flex;
	justify-content:center;
	align-items:center;
	
    
}
.play-btn{
	background-color:var(--primary-color);
	color:#fff;
	width:80px;
	height:80px;
	border-radius:50%;
	text-align:center;
	line-height:80px;
	font-size:30px;
	padding-left:5px;
}

.abt-content{
	padding:20px 0 0 30px;
}
.abt-content h5{
	color:#999;
	font-size:18px;
	margin-bottom:10px;
}
.abt-content h2{
	font-size:30px;
	margin-bottom:20px;
}
.abt-content p{
	font-size:15px;
}
.aboutitems{
	display:flex;
	margin-top:50px;
	align-items:flex-start;
}
.aboutitems .abouticons{
	width:70px;
	height:70px;
	border-radius:50%;
	border:solid 1px var(--primary-color);
	background-color:#fff;
	color:var(--primary-color);
	text-align:center;
	line-height:70px;
	font-size:30px;
	flex:0 0 auto;
}
.aboutitems .abouticons:hover{
    background-color:var(--primary-color);
	color:#fff;
}
.aboutitems .abouticons i{
	transition:1s;
}
.aboutitems .aboutitemstext{
		margin-left:20px;
		font-family:sans-serif;
}	
.aboutitemstext h3{
	margin-bottom:10px;
	color:var(--secondary-color);
}
/*-----------clientsection----------*/
.clientlogosect{
	background-color:#39312f;
	padding:80px 0;
}
.client-logo{
	background-color:#ff5821;
	height:60px;
}
/*--------servicesection--------*/
.servicesect{
	background-color:#ff5821;
	padding:80px 0;
}
.sectiontitle{
	background-color:#39312f;
	height:80px;
}
.serviceitem{
	background-color:#39312f;
	height:250px;
	margin-top:30px;
}
/*----------protofile--------*/
.protofilecessect{
	background-color:#39312f;
	padding:80px 0;
	}
.protofile{
	background-color:#ff5821;
    height: 350px;
    margin-bottom: 60px;
    padding: 20px;
    padding-top: 175px;
}

.protofileitem{
    background-color: #000;
    height:150px;
}
/*------------team section---------*/
.teamsect{
	background-color:#ff5821;
	padding:80px 0;
}
.teamitem{
	background-color:#39312f;
	height:200px;
}
/*---------pricing----------*/
.pricingsect{
	background-color:#39312f;
	padding:80px 0;
}
.pricingtitle{
	background-color:#ff5821;
	height:90px;
}
.pricingitem{
	background-color:#ff5821;
	height:250px;
	margin-top:30px;
}
/*---------blog------------*/
.blogsect{
	background-color:#ff5821;
	padding:80px 0;
}
.blogtitle{
	background-color:#39312f;
	height:90px;
	}
.blogitem{
	background-color:#39312f;
	height:200px;
	margin-top:30px;	
}
/*----------buy-----------*/
.buysection{
	background-color:#ff5821;
	padding:60px 0;
}
.buytitle{
	background-color:#39312f;
	height:90px;
	}
.buyitem{
	background-color:#39312f;
	height:400px;
	margin-top:30px;
}
/*----------faq-----------*/
.faqsection{
	background-color:#ff5821;
	padding:30px 0;
}
.faqcontent{
	background-color:#39312f;
	height:500px;
	width:100%;
	
}
/*-------------contact--------*/
.contectsect{
	background-color:#ff5821;
	padding:50px 0;
}
.contacttitle{
	background-color:#39312f;
	height:60px;
}
.contactitem{
	background-color:#39312f;
	height:200px;
	margin-top:10px;
}
.formsection{
	background-color:#ff5821;
	margin-top:50px 0;
}
.formcontent{
	background-color:#39312f;
	margin-top:20px;
	height:500px;
	width:100%;

}
/*--------------subscribe---------*/
.subssection{
	background-color:#ff5821;
	padding:50px 0px;
}
.subscontent{
	background-color:#39312f;
	height:70px;
	
}
.subscontentitem{
	background-color:#39312f;
	height:40px;
	margin-top:50px;
}

/*---------------author-----------*/
.footsect{
	
	background-color:#ff5821;
	padding:90px 0;

}
.fontitem{
	background-color:#39312f;
	height:200px;
	margin-top:-60px;
	
}

/*-----------------author end--------------*/
.authorsection{
	background-color:#ff5821;
}
.authorcontent{
	background-color:#39312f;
	height:90px;
}
.fontcontent{
	background-color:#39312f;
	height:90px;
}

